<div class="container" fxLayout="column" fxLayoutGap="50px">
  <div class="example-container mat-elevation-z8">
    <div class="example-header">
      <mat-form-field style="width: 100%;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource">
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)" [ngClass]="{ 'selected': selection.isSelected(row)}">
      </mat-row>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="alert">
        <mat-header-cell *matHeaderCellDef> Alert </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.alert}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="report">
        <mat-header-cell *matHeaderCellDef> Report </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.report}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="product">
        <mat-header-cell *matHeaderCellDef> Product </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.product}} </mat-cell>
      </ng-container>

    </mat-table>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
  </div>


  <div fxLayoutAlign="end">
    <button mat-raised-button color="primary">Submit</button>
  </div>

</div>